html, body {
    height: 100%; /* Make sure the body and html take the full height of the viewport */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0; /* Reset margins */
    min-height: 100vh; /* Ensure the body is at least the height of the viewport */
}

/* START OF USER PROFILE OVERRIDE */
/* Override Bootstrap's default blue color for links 
.nav-link, .nav-link.active {
    color: black !important;
}

/* Override Bootstrap's primary buttons 
.btn-primary {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
} */

/* Override hover and active states for primary buttons 
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #218838 !important; 
    border-color: #1e7e34 !important;
}

/* Override text colors that are not white or black 
.text-primary, .text-info, .text-danger, .text-warning, .text-success {
    color: #28a745 !important;
}

/* Override other Bootstrap components with default color 
.nav-pills .nav-link.active,
.navbar-light .navbar-nav .nav-link,
.pagination .page-link {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
} */

/* Override card headers and alert backgrounds 
.card-header,
.alert-primary,
.alert-info,
.alert-warning,
.alert-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: white !important;
}
/* END OF USER PROFILE OVERRIDE */


/*HOME PAGE CSS*/

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Mimicking the opacity effect */
    z-index: -1; /* Keeps the background behind the content */
}


.intro {
    margin-top: 20px;
    z-index: 1;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(104, 104, 104, 0.5);



}

h1 {
    font-size: 3rem;
    color:black;
    justify-content: center;
    align-items: center;
}

p {
    padding: 30px;
    font-size: 1.2rem;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.btn-apply {
    padding: 12px 25px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-apply:hover {
    background-color: #218838;
}

.team {
    margin-top: 55px;
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.team h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.team-grid {
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.team-member {
    text-align: center;
    margin: 20px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.role {
    color: #888;
    font-size: 1rem;
}

/* Ensure the sections don't overlap */
.home-container + .team {
    margin-top: 0;
}

/* ABOUT PAGE CSS */

.about {
    display: flex;
    flex-wrap: wrap;
    background-color: #e8f7ec;
    padding: 20px 20px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* CONTENT1-2*/
.left-content1 {
    flex: 1.5;
    padding: 20px;
}

.left-content1 h1 {
    font-size: 3rem;
    color: #28a745;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: left;
    text-indent: 0em;
    margin-left: 40px;
}

.left-content1 h2 {
    font-size: 24px;
    color: #28a745;
    margin-top: 40px;
    text-indent: 0em;
    margin-left: 40px;
}

.left-content2 h2 {
    font-size: 24px;
    color: #28a745;
    margin-top: 10px;
    text-indent: 1.5em;
    margin-left: 40px;
}

.left-content1, .left-content2 p,
.left-content1, .left-content2 ul {
    font-size: 18px;
    color: #333;
    line-height: 1.8;
    text-align: justify;
    text-indent: 3em;
    margin-left: 40px;
    margin-right: 40px;
}

.left-content1, .left-content2 ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-right: 40px;
}

/*right content*/
.right-content {
    flex: 0.9;
    padding: 20px;
    text-align: center; 
}

.about-image {
    max-width: 90%;
    height: auto;
    padding: 40px 20px;
}

.image-caption {
    font-size: 2.0rem;
    color: #28a745;
    font-weight: bold;
    margin-top: 0%;
}

.highlight {
    color: #28a745; 
}


/* Responsive Design */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 50px 20px;
    }

    .left-content1, .right-content .left-content2 {
        width: 100%;
    }

    .left-content1 h1 {
        font-size: 28px;
    }

    .left-content1, .left-content2 h2 {
        font-size: 20px;
    }

    .left-content1, .left-content2 p, 
    .left-content1, .left-content2 ul, 
    .image-caption {
        font-size: 16px;
    }
}

/* PRIVACY POLICY SECTION */
.privacypolicy {
    display: flex;
    flex-wrap: wrap;
    background-color: #e8f7ec;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Left Content Styling */
.privacy-content1 {
    flex: 1.5;
    padding: 20px;
}

.privacy-content1 h1 {
    font-size: 3rem;
    color: #28a745;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 40px;
}

.privacy-content1 p {
    text-indent: 2em;
    text-align: justify;
    font-size: 18px;
    margin-left: 40px;
}

.privacy-content2  h2 {
    font-size: 24px;
    color: #28a745;
    margin-top: 10px;
    text-align: left;
    margin-left: 40px;
}

.privacy-content2 ul {
    list-style-type: disc;
    margin-left: 40px;
    font-size: 18px;
    color: #333;
    line-height: 1.8;
    text-align: justify;
    text-indent: 2em ;
    margin-left: 40px;
    margin-right: 40px;
}

.privacy-content2 p, .privacy-content2 ul {
    font-size: 18px;
    text-indent: 2em;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}

/* ABOUT PICTURE */
.right-content2 {
    flex: 0.9;
    padding: 20px;
    text-align: center;
}

.policy-image {
    max-width: 100%;
    height: auto;
    padding: 40px 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .privacypolicy {
        flex-direction: column;
    }
    
    .right-content2 {
        padding: 20px 0;
    }

    .privacy-content1 h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .privacy-content2 h2 {
        font-size: 20px;
        margin-top: 20px;
    }

    .privacy-content2 ul, .privacy-content2 p {
        font-size: 16px;
        text-indent: 1.5em;
    }

    .policy-image {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .privacy-content1 h1 {
        font-size: 2rem;
    }

    .privacy-content2 h2 {
        font-size: 18px;
    }

    .privacy-content2 ul, .privacy-content2 p {
        font-size: 14px;
        text-indent: 1em;
    }
}
