/* External CSS file, use this if you don't want to use a framework*/

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.image {
    width: 350px;
    height: 350px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.image.selected {
    border: 4px solid #00ff00;

}

.text{
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}   